<footer>
<nav>
    <a href="https://webpages.charlotte.edu/aorr14/">Charlotte.edu</a> |
    <a href="https://github.com/aiden-orr">GitHub</a> |
    <a href="https://aiden-orr.github.io/">GitHub.io</a> |
    <a href="https://www.freecodecamp.org/aiden_orruncc">freeCodeCamp</a> |
    <a href="https://www.codecademy.com/profiles/course0282970004">Codecademy</a>
</nav>

<p>
    Designed by <a href="aidenorrdesignco.com/">Aiden Orr Design Co.</a> &copy;2026
</p>
<p>Certified in HTML and CSS</p>
<p><em>"Strong code, stronger results."</em></p>
</footer>